@import url('http://fonts.googleapis.com/css?family=Montserrat');

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #fed766;
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 40px;
    text-align: center;
    margin: 50px;
}
body {
    background-color: #495867;
}

html, body {
        height: 100%;
        margin: 0px;
}

#mainContainer {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: auto;}
        
p {
    color: ghostwhite;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    margin-top: 50px;
    
}

.center {
    text-align: center;
}

img {
    width: 100%;
    margin-top: 55px;
    height: auto;
    padding: 0px;
    
}

a:hover {
    text-decoration: none;
    color: skyblue;
}

p a {
    color: white;
    text-decoration: none;
}

iframe {
    margin: 0;
    padding: 0;
    border: none;
}